@use 'public' as *;

$insetShadowParams    : 0px inset #0003;

:host {
  @include flex(center, center);
  @include rec(var(--btn-size));
  padding             : 20px;
  border-radius       : var(--btn-size);
  box-shadow          : 0 -6px $insetShadowParams;
  transition          : 0.3s;
  cursor              : pointer;

  &:hover {
    padding           : 30px;
  }

  &.rock {
    background        : linear-gradient(var(--rock-gradient));
  }
  &.paper {
    background        : linear-gradient(var(--paper-gradient));
  }
  &.scissors {
    background        : linear-gradient(var(--scissors-gradient));
  }
  &.lizard {
    background        : linear-gradient(var(--lizard-gradient));
  }
  &.spock {
    background        : linear-gradient(var(--spock-gradient));

    img {
      left            : 6px; // Offsets shitty svg
    }
  }
}

.inner-circle {
  @include flex(center, center);
  @include rec();
  background          : #eee;
  border-radius       : var(--btn-size);
  box-shadow          : 0 6px $insetShadowParams;
}

img {
  position            : relative;
  width               : calc(var(--btn-size) * 0.4);
}
