@use 'public' as *;

:host {
  @include flex(space-between, center, null, 16px);
  padding             : 12px;
  border              : 3px solid #fff3;
  border-radius       : 6px;
  width               : 300px;
}

header {
  @include flex(null, null, true);
  padding-left        : 8px;

  span {
    line-height       : 0.8;
    font-weight       : 600;
    font-size         : 20px;
  }
}

main {
  @include flex(center, center, true, 2px);
  padding             : 12px;
  min-width           : 72px;
  border-radius       : 6px;
  background          : white;

  h6 {
    font-weight       : 500;
    color             : var(--score-text);
    letter-spacing    : 1px;
  }
}

h1 span {
  color               : var(--dark-text);
  font-size           : 38px;
  position            : relative;

  &::before {
    @include position(absolute, null, 2px, 0px, 2px);
    height            : 4px;
    content           : ' ';
  }

  &.player-1::before {
    background        : rgba(blue, 0.5);
  }

  &.player-2::before {
    background        : rgba(red, 0.5);
  }
}
