:host {
  position: relative;
  display: block;
  background: #999;
  width: var(--board-size-x);
  height: var(--board-size-y);
}

.triangle-1 {
  position: absolute;
  top: calc(var(--btn-size) * -0.5);
  left: calc(var(--btn-size) * -0.5);
}

.triangle-2 {
  position: absolute;
  top: calc(var(--btn-size) * -0.5);
  right: calc(var(--btn-size) * -0.5);
}

.triangle-3 {
  position: absolute;
  bottom: calc(var(--btn-size) * -0.5);
  left: calc(var(--board-size-x) * 0.5 - var(--btn-size) * 0.5);
}
