@use 'public' as *;

:host {
  @include flex(center, center);
  @include rec(var(--board-size));
  margin          : calc(var(--btn-size) * 0.4) 0;
  position        : relative;
  border          : 20px solid #0003;
  border-radius   : var(--board-size);
}

board-button {
  position        : absolute;
}
